@keyframes open {
  from {
    transform: scaleX(0);

  }
  to {
    transform: scaleX(1);
  }
}

.custom-sidebar {
  max-width: 600px;
  border-radius: 3px;
  display: none;
  box-sizing: border-box;
  position: relative;
  transform-origin: right top;
}

.custom-sidebar.is-open {
  display: block;
  border: 2px solid rgba(0,0,0,0.2);
  animation: open 0.2s ease-in-out;
}

.custom-sidebar .delete {
  position: absolute;
  right: 12px;
  top: 12px;
}

.custom-sidebar .panel {
  border: none;
  background: white;
  height: 100%;
}

.custom-sidebar .panel .tab {
  display: none;
}

.custom-sidebar .panel .tab.is-active {
  display: block;
}

.custom-sidebar .panel p {
  border-radius: 0;
}

.custom-sidebar .panel ul {
  margin-top: 0;
}